/* GLOBAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #343a40;
}

h1 {
    margin-bottom: 32px;
    font-size: 44px;
    letter-spacing: -1px;
    line-height: 1.2;
}

img {
    display: block;
    width: 100%;
}

.container {
    margin: 0 auto 96px;
    width: 960px;
}

.grid {
    display: grid;
    gap: 80px;
    margin-top: 48px;
}

.grid--2-col {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-col {
    grid-template-columns: repeat(3, 1fr);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: inline-block;
    border-radius: 100px;
    background-color: #099268;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.btn--large {
    padding: 12px 32px;
}

.btn--small {
    padding: 8px 12px;
    font-size: 14px;
}

.border--radius {
    border-radius: 12px;
}

/* HEADER */
.header .grid__item--left {
    margin: auto 0;
    line-height: 1.5;
}

.header .grid__item--left p {
    margin-bottom: 24px;
}

/* INTRO */
.intro h2 {
    margin-bottom: 16px;
    font-size: 36px;
}

.intro__item--top p {
    margin-top: 16px;
}

.intro__item--bottom {
    padding: 24px;
    /* border-radius: 12px; */
    background-color: #099268;
    color: white;
}

.intro__item--bottom h2 {
    font-size: 24px;
}

.intro__item--bottom .grid__item--right {
    grid-column: 2 / span 2;
    margin: auto 0;
}

.intro__item--bottom .grid__item--right p {
    margin-top: 24px;
}

/* SELLING */
.selling .grid__item {
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

.selling .grid__item--top img {
    border-radius: 12px 12px 0 0;
}

.selling .grid__item--bottom {
    padding: 0 32px 32px;
}

.selling .grid__item--bottom>* {
    margin-top: 24px;
}

.selling h2 {
    font-size: 36px;
}

.selling h3 {
    font-size: 20px;
}

.selling .flex p {
    font-weight: bold;
}

/* FOOTER */
.footer {
    border-bottom: 8px solid #099268;
    padding-bottom: 48px;
}

.footer p {
    text-align: center;
}

.footer a {
    text-decoration: none;
}