/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

/* FLEXBOX */
.flex__container {
    width: 600px;
    height: 300px;
    margin: 20px auto;
    background-color: gray;
    display: flex;
}

.flex__item {
    width: 250px;
    text-align: center;
    line-height: 300px;
}

.flex__item--color-r {
    background-color: red;
    flex-shrink: 2;
}

.flex__item--color-g {
    background-color: green;
}

.flex__item--color-b {
    background-color: blue;
}

/* 
Flex Container  : 600
Flex Items      : 250
250*3 = 750 >> overflow
-shrink-
    case 1: default
        Flex Items: 600/3 = 200 >> Gap: 250 - 200 = 50
        Total Gap: 50*3 = 150
    case 2: Red: 2, Green: 1, Blue: 1
        Flex Item - Red     : 250 - [Total Gap/(2 + 1 + 1)]*2 = 175
        Flex Item - Green   : 250 - [Total Gap/(2 + 1 + 1)]*1 = 212.5
        Flex Item - Blue    : 250 - [Total Gap/(2 + 1 + 1)]*1 = 212.5
*/