/* Global */
html, body {
    font-family: 'Work Sans', sans-serif;
}

.heading__sub {
    text-align: center;
}

.heading__sub h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ff4f81;
    letter-spacing: 0.05rem;
}

.heading__sub p {
    color: black;
    font-size: 1.125rem;
    letter-spacing: 0.25rem;
}

.heading__sub p::after {
    display: block;
    content: "";
    width: 4.5rem;
    height: 0.125rem;
    background-color: black;
    margin: 1.25rem auto 0;
}

.content__section {
    width: 80%;
    margin: 0 auto;
}

/* Header */
.header__content {
    background-color: #ff4f81;
}

.header__content a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s;
}

.header__left a:hover {
    color: black;
}

.header__right a {
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
    border: 0.1rem solid black;
    line-height: 1.875rem;
    background-color: black;
    margin-left: 0.25rem;
}

.header__right a:hover {
    border: 0.1rem solid white;
    background-color: #ff4f81;
}

.navbar a {
    color: black;
}

.navbar-brand p {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

.navbar .navbar-brand p:first-of-type {
    font-size: 2.25rem;
}

.navbar .navbar-brand p:first-of-type i {
    transform: skewX(-10deg);
}

.navbar .navbar-brand p:last-of-type {
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    color: #ff4f81;
}

#navbarHeader .nav-item {
    margin: 0 1rem;
}

#navbarHeader .nav-item::after {
    display: block;
    content: "";
    width: 0%;
    height: 0.125rem;
    background-color: #ff4f81;
    transition: all 0.5s;
}

#navbarHeader .nav-item:hover::after {
    width: 100%;
}

#navbarHeader .nav-item.active::after {
    width: 100%;
}

#navbarHeader .nav-item .nav-link {
    font-size: 0.875rem;
    font-weight: bold;
    transition: all 0.5s;
}

#navbarHeader .nav-item:hover .nav-link {
    color: #ff4f81;
}

#navbarHeader .nav-item.active .nav-link {
    color: #ff4f81;
}

#navbarHeader .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.6);
}

#navbarHeader .dropdown-item {
    color: white;
    transition: all 0.5s;
}

#navbarHeader .dropdown-item:hover {
    color: #ff4f81;
    background-color: transparent;
}

/* Carousel */
.carouselPart li:hover {
    cursor: pointer;
}

.carousel-item .carousel-caption {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.carousel-item .carousel-caption h2 {
    font-size: 3.25rem;
    margin-bottom: 0.5rem;
}

.carousel-item .carousel-caption p {
    width: 70%;
    margin: 0 auto 1.6rem;
    letter-spacing: 0.25rem;
    line-height: 1.8rem;
    font-weight: 300;
}

.carousel-item .carousel-caption button {
    font-size: 0.875rem;
    border: 0.06rem solid white;
    background-color: transparent;
    color: white;
    padding: 0.7rem 1.25rem;
    transition: all 0.5s;
}

.carousel-item .carousel-caption button:hover {
    border-color: #ff4f81;
    background-color: #ff4f81;
    cursor: pointer;
}

.carousel-item .carousel-caption button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0 123 255/ 25%);
}

/* Introduction */
.intro__content {
    padding: 5rem 0;
}

.intro__content .content__section p {
    color: #999;
    text-align: center;
    letter-spacing: 0.01rem;
    padding: 5rem 0;
}

.intro__table {
    border: 0.1rem solid black;
}

.intro__table .col {
    padding: 2rem;
}

.intro__table .col:nth-child(2) {
    border-left: 0.1rem solid black;
    border-right: 0.1rem solid black;
}

.intro__table .col i {
    font-size: 2rem;
    font-weight: 700;
}

.intro__table .col h3 {
    color: #ff4f81;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 1rem 0;
}

.intro__table .col h4 {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem 0 0.2rem;
}

.intro__table .col p {
    font-size: 1rem;
    line-height: 1.8rem;
    text-align: left;
    padding: 0;
    margin-top: 0.625rem;
}

/* Stats */
.stats {
    background-image: url("../img/banner2.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 5rem 0;
}

.stats .heading__sub p {
    color: white;
}

.stats__content .stats__item {
    text-align: center;
}

.stats__content .stats__item i {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 3rem 0 2rem;
}

.stats__content .stats__item h3 {
    color: #ff4f81;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.stats__content .stats__item p {
    color: white;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.125rem;
    padding: 1rem 0;
}

/* Offer */
.offer {
    padding: 5rem;
}

.offer__content {
    margin: 3rem 0 0;
}

.offer__content .offer__col {
    padding: 1rem;
}

.offer__content .offer__item {
    text-align: center;
    padding: 1rem;
    box-shadow: 0px 1px 8px 0px rgb(158 158 158 / 75%);
    transition: all 0.5s;
}

.offer__content .offer__item i {
    color: #ff4f81;
    font-size: 2.5rem;
    font-weight: 700;
}

.offer__content .offer__item h3 {
    color: black;
    font-size: 1.25rem;
    padding: 1.5rem 0 0.75rem;
}

.offer__content .offer__item p {
    color: #6b6b6b;
    font-size: 0.875rem;
    letter-spacing: 0.01rem;
}

.offer__content .offer__item:hover {
    background-color: #12ccc3;
}

/* Feedback */
.feedback {
    background-image: url("../img/banner3.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 5rem 0 4rem;
}

.feedback .heading__sub p {
    color: white;
}

.feedback__content {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 8px 0px rgb(158 158 158 / 75%);
    padding: 2rem;
    margin-top: 3rem;
}

.feedback__item {
    padding: 1rem;
}

.feedback__item .feedback__top {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.3rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
}

.feedback__item .feedback__top p {
    color: white;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
}

.feedback__item .feedback__top p::after {
    content: "";
    border-top: 0.5rem solid rgba(0, 0, 0, 0.8);
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    position: absolute;
    bottom: 38%;
    left: 30%;
}

.feedback__item .feedback__bottom img {
    display: inline;
    width: 15%;
}

.feedback__item .feedback__bottom .feedback__info {
    display: inline-block;
    margin-left: 0.5rem;
}

.feedback__item .feedback__bottom .feedback__info p:first-of-type {
    color: white;
    font-weight: 700;
    font-size: 1.125rem;
    margin-bottom: 0;
}

.feedback__item .feedback__bottom .feedback__info p:last-of-type {
    color: #ff4f81;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ff4f81;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: #ff4f819f;
}

/* News & Events */
.news {
    padding: 4rem;
}

.news__content {
    margin-top: 3rem;
}

.news__content .news__row {
    margin-top: 5rem;
}

.news__content .news__txt a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    transition: all 0.5s;
}

.news__content .news__txt h3:hover a {
    color: #ff4f81;
}

.news__content .news__txt p:first-of-type {
    color: #ff4f81;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;

}

.news__content .news__txt p:last-of-type {
    color: #999;
    font-size: 0.9rem;
    line-height: 1.8rem;
}

.modalBox .modalBox__title {
    color: #ff4f81;
    font-size: 1.8rem;
    font-weight: 700;
}

.modalBox .modalBox__body p {
    color: #777;
    font-size: 0.875rem;
    line-height: 1.8rem;
}

/* Footer */
.footer {
    background-color: #141415;
}

.footer h3 {
    color: #ff4f81;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 1.25rem;
}

.footer h3:last-of-type {
    font-size: 1.45rem;
    margin-bottom: 0;
}

.footer__top {
    padding: 5rem 0;
}

.footer__top .footer__item p {
    color: #8b8b96;
    line-height: 2rem;
    letter-spacing: 0.1rem;
}

.footer__top .footer__item {
    padding: 0 1rem;
}

.footer__top .footer__item a {
    color: #8b8b96;
    text-decoration: none;
    line-height: 1.5rem;
    transition: all 0.5s;
}

.footer__top .footer__item a:hover {
    color: white;
}

.footer__top .footer__item:nth-child(2) i {
    color: #ff4f81;
    font-weight: 700;
    margin-right: 1rem;
}

.footer__top .footer__item:last-of-type i {
    color: white;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-weight: 700;
    border: 0.1rem solid #4b4b50;
    margin-right: 1rem;
}

.footer__top .footer__form input {
    padding: 0.875rem;
}

.footer__top .footer__form input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.footer__top .footer__submit input {
    background-color: #ff4f81;
    color: white;
    transition: all 0.5s;
}

.footer__top .footer__submit input:hover {
    background-color: #ec1955;
    cursor: pointer;
}

.footer__bottom {
    background-color: #0f0f10;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.footer__bottom a {
    text-decoration: none;
    color: #ff4f81;
}