/* GLOBAL */
:root {
    --fs-base: 1.8rem;
    --fs-heading: 2.8rem;
    --fs-heading-secondary: 4.4rem;

    --color-palette: #f0b90b;
    --color-gray: #595a5f;
    --color-dark: #46484d;
    --color-very-dark: #181a20;
    --color-light: #eaecef;
    --color-very-light: #fff;

    --border-radius: 0.8rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: solid red 1px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--fs-base);
    background-color: var(--color-very-dark);
    color: var(--color-light);
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}

.container {
    max-width: 120rem;
    margin: 4.8rem auto;
    padding: 2.4rem 3.2rem;
    border-radius: var(--border-radius);
    background-color: var(--color-dark);
}

.btn {
    display: inline-block;
    font-size: 1.8rem;
    padding: 1.2rem 2.4rem;
    background-color: var(--color-palette);
    color: var(--color-very-dark);
    border: solid transparent 2px;
    border-radius: var(--border-radius);
    transition: all 0.5s;
}

.btn--sub {
    background-color: var(--color-very-dark);
    color: var(--color-light);
}

.btn:hover {
    background-color: var(--color-very-dark);
    color: var(--color-palette);
    border-color: var(--color-palette);
    cursor: pointer;
}


/* HERO */
.hero {
    max-width: 120rem;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.hero__img {
    flex-shrink: 0;
    flex-basis: 52rem;
}

.hero__title {
    font-size: var(--fs-heading-secondary);
    color: var(--color-very-light);
    padding: 1.8rem 0;
    line-height: 1.2;
}

.hero__brand {
    color: var(--color-palette);
}

.hero__paragraph {
    font-size: 2.4rem;
    padding: 1.2rem 0;
}


/* FORM */
.form {
    background-color: var(--color-dark);
}

.form__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0;
}

.form__input {
    width: 16rem;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fs-base);
    padding: 0.8rem;
    background-color: var(--color-very-dark);
    color: var(--color-palette);
    border: solid transparent 2px;
    border-radius: var(--border-radius);
    outline: none;
}

.form__input:focus {
    border-color: var(--color-palette);
}

.form__button {
    display: flex;
    justify-content: flex-end;
    gap: 1.6rem;
    padding: 1.6rem 0 0.8rem;
}


/* INVESTMENTS */
.investment__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.investment__select {
    font-size: var(--fs-base);
    background-color: var(--color-very-dark);
    color: var(--color-palette);
    padding: 0.8rem;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
}

.investment__chart {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-gray);
    border-radius: var(--border-radius);
    margin: 2.4rem 0;
    padding: 1.6rem 0;
}

.investment__chart-item {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
}

.investment__chart-bar {
    width: 1.6rem;
    height: 12.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: var(--border-radius);
    background-color: var(--color-very-dark);
}

.investment__chart-bar-inner {
    height: 80%;
    background-color: var(--color-palette);
    border-radius: var(--border-radius);
}


/* RESPONSIVE */
@media (max-width: 75em) {
    .container {
        margin: 4.8rem 2.4rem;
    }
}

@media (max-width:68em) {
    .hero {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        padding: 2.4rem;
    }

    .hero__img {
        flex-shrink: 1;
    }
}