// TYPOGRAPHY
$fs: 16px;
$fw-md: 500;
$fw-b: 700;

// COLOR

// palette color
$color-palette: #ec5252;
$color-shade: #521822;

// accent color
$color-accent: #007791;

// grey color
$color-grey-tint: #fff;
$color-grey: #505763;
$color-grey-shade: #29303b;

// component color
$color-star: #f4c150;
