/* GLOBAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* PAGINATION */
.pagination {
    width: 600px;
    margin: 96px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-index:link,
.pagination-index:visited,
.button {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.5s;
}

.pagination-index:link,
.pagination-index:visited {
    border: none;
    color: black;
    text-decoration: none;
}

.button {
    border: 1px solid #be4bdb;
    cursor: pointer;
}

.button-icon {
    width: 16px;
    height: 16px;
}

.pagination-index:hover,
.pagination-index:active,
.pagination-index.active,
/* an end selector, without space*/
.button:hover {
    background-color: #be4bdb;
    color: #fff;
}