* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: sans-serif;
    font-size: 62.5%;
}

a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #000;
}

.header {
    height: 6.4rem;
    padding: 0 2.4rem;
    position: relative;
}

.header__brand:link,
.header__brand:visited {
    font-size: 3.2rem;
}

.header__nav {
    list-style: none;
    gap: 1.6rem;
}

.header__nav-item:link,
.header__nav-item:visited {
    font-size: 1.8rem;
    font-weight: bold;
}

.btn {
    display: none;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
}

.btn__icon {
    font-size: 2.4rem;
    text-align: center;
    line-height: 3.2rem;
    color: #000;
}


/* RESPONSIVE */
@media (max-width: 44em) {
    .header__nav {
        position: absolute;
        top: 6.4rem;
        left: 0;
        width: 100%;
        transition: all 0.5s;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        list-style: none;
        padding: 1.6rem;
        background-color: black;
        transform: translateY(-100%);
    }

    .nav--open {
        flex-direction: column;
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateY(0);
    }

    .btn {
        display: block;
    }
}